html, 
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    font-size: 14px;
    font-weight: 300;
}

.clickable{
    cursor: pointer;
}

.hoverable:hover {
    opacity: 0.7;
}

.red-text {
    color: #f44336 !important;
}

.page-wrapperc{
    padding-top: 20px;
}

.blog-image {
    margin-bottom: 10px;
    text-align: center;

    &-left {
        float: left;
        margin-right: 30px;
    }

    &-right {
        float: right;
        margin-left: 30px;
    }
}

.image-alt{
    margin-top: 3px;
}


.defaul-button {
    width: 150px !important;

}

.dark{
    .post-item {
        background-color: #232129;
        transition: color 0s ease-out, background 0.2s ease-out 0s;
    }
}


